.content-desc {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content-desc--person-flex {
  flex-direction: row;
}

@media (max-width: 750px) {
  .content-desc {
    flex-wrap: wrap;
  }
}