.header {
  background-color: var(--almost-black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 10px 50px;
  position: relative;
  z-index: 1;
}

/* .page__header {
  position: sticky;
  top: 0;
} */

.logo {
  display: inline-flex;
}

.logo__img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav__link:hover {
  color: #e9b712;
}

.nav__link--active {
  font-weight: 500;
  color: #e9b712;;
}

.header--mega-main {
  height: 100vh;
  font-size: 5rem;
  font-weight: 400;
  padding: 0;
  font-weight: 100;
}

.mega-nav{
  width: 100%;
  height: 100%;
}

.mega-nav__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: inherit;
  text-align: center;
}

.mega-nav__item {
  overflow: hidden;
  height: inherit;
  flex-grow: 1;
  transition: 0.3s;
  box-sizing: border-box;
}

.mega-nav__img {
  display: block;
  height: inherit;
  background-size: cover;
  background-position: center;
}

.mega-nav__link {
  display: block;
  height: inherit;
}

.mega-nav__title {
  display: inline;
  padding: 1rem 3rem;
  line-height: 180vh;
  border: 1px solid #b36721;
  border-radius: 8px;
  transition: 0.2s;
  background-color: #00000050;
}

.--lore {
  background-image: url(../../img/mega-nav/lore.jpg);
}

.--chars{
  background-image: url(../../img/mega-nav/chars.webp);
}

.--bosses{
  background-image: url(../../img/mega-nav/bosses.jpg);
}

.mega-nav__item:hover {
  overflow: hidden;
  height: inherit;
  flex-grow: 1.2;
  outline: 1px solid #b36721;
  
  outline-offset: -2rem;
  .mega-nav__title {
    background-color: #00000080;
    border: none;
    color: #e07d1f;
  }
}


@media (max-width: 995px) {
  .header--mega-main{
    font-size: 20px
  }
  .mega-nav__list {
    flex-direction: column;
  }
  .mega-nav__img {
    display: block;
    height: inherit;
    background-size: cover;
    background-position: top;
  }
  .mega-nav__item {
    position: relative;
  }
  .mega-nav__title {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    display: block;
    line-height: normal;
  }
  .mega-nav__item:active {
    overflow: hidden;
    height: inherit;
    flex-grow: 1.2;
    outline: 1px solid #b36721;
    
    outline-offset: -2rem;
    .mega-nav__title {
      background-color: #00000080;
      border: none;
      color: #e07d1f;
    }
  }
}