@import url(normalize.css);
@import url(blocks/page.css);
@import url(blocks/header.css);
@import url(blocks/main.css);
@import url(blocks/section.css);
@import url(blocks/title.css);
@import url(blocks/section-nav.css);
@import url(blocks/content-desc.css);
@import url(blocks/description.css);
@import url(blocks/greatrunes.css);
@import url(blocks/runecard.css);
@import url(blocks/footer.css);

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');











